.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
/*-- BS3 Modified Classes --*/
.panel {
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.panel-body {
    padding: 20px;
}
.panel-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-footer {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}




/*-- Common Use Classes --*/
.btn-ui {
    background-color: #E55F3A;
    border-color: #C54A28;
    color: #fff;
}
.btn-ui:hover {
    background-color: #E0624C;
    color: #fff;
}
.list-block {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.list-block ul {
    display: table-row;
}
.list-block li {
    display: table-cell;
    margin: 0;
}
.pad-left-0 {
    padding-left: 0px;
}
.pad-right-0 {
    padding-right: 0px;
}
.mrg-btm-10 {
    margin-bottom: 10px;
}
.mrg-btm-20 {
    margin-bottom: 20px;
}





/*-- Pie Chart Widget --*/
#pie-chart-widget .panel-body {
    padding: 0px;
}
#pie-chart-widget .panel-footer {
    background-color: #fff;
    padding: 0px;
    margin-top: 20px;
}
#pie-chart-widget .panel-footer .btn {
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px 0px;
    color: #fff;
    background-color: #776B5F;
    border-top: 3px solid #6d6257;
}
#pie-chart-widget .panel-footer .btn:hover {
    background-color: #62584C;
    border-color: #52483F;
}
#pie-chart-widget h2 {
    font-weight: 700;
    margin: 3px 0 0 0;
}
#pie-chart-widget .legend li {
    background-color: #F5F0EC;
    padding: 20px 10px;
}
#pie-chart-widget .legend li:not(:first-child) {
    border-left: 1px solid #fff;
}
#pie-chart-widget .legend .purchase {   
    border-top: 4px solid #4DAF7C; 
}
#pie-chart-widget .legend .price {
    border-top: 4px solid #EAC85D;
}
#pie-chart-widget .legend .shop {
    border-top: 4px solid #5d84ea;
}
#pie-chart-widget .legend .category {
    border-top: 4px solid #E25331;
}
